<div class="login-page">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(formDirective)" class="login-page_form" #formDirective="ngForm">
    <h2>Login</h2>
    <div class="login-page_inputs-container">
      <mat-form-field appearance="fill">
        <mat-label>login</mat-label>
        <input matInput placeholder="login" formControlName="login" required>
        <mat-error *ngIf="login!.invalid">{{ getLoginErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" #pass>
        <button mat-icon-button matSuffix (click)="togglePasswordHide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidden">
          <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="password!.invalid" class="password-error">{{ getPasswordErrorMessage() }}</mat-error>
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
