<div class="login-page">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(formDirective)" class="login-page_form" #formDirective="ngForm">
    <h2>Login</h2>
    <div class="login-page_inputs-container">
      <mat-form-field appearance="fill">
        <mat-label>login</mat-label>
        <input matInput placeholder="login" formControlName="login" required>
        <mat-error *ngIf="!loginForm.value.login">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.value.password">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-error *ngIf="!loginForm.value.password && !loginForm.value.login">{{ getFormErrorMessage() }}</mat-error>
    </div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
