.header-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-center {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.filter-bar {
  margin: auto;
}

.user {
  display: flex;
  align-items: center;
  .user-name {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

.closed {
  display: none;
}