<mat-toolbar class="header">
  <div class="header-container">    
    <img src="../../assets/youtube-app-logo.png" alt="Logo">
    <form class="search-form">
      <mat-form-field class="search-form-field">
        <input matInput type="text">
        <button type="submit" mat-raised-button color="primary">Search</button>
      </mat-form-field>  
    </form>
    <div class="user">
      <p class="user-name">User Name</p>
      <button mat-mini-fab color="primary">
        <mat-icon aria-hidden="true" fontIcon="account_circle"></mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
