.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  &-field {
    width: 30rem;
    @media (max-width: 768px) {
      width: 16rem;
    }
    @media (max-width: 600px) {
      width: 12rem;
    }
  }
}