.detailed-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem;
}

.detailed-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%; 
  padding: 0;
  background: #f3f2f2;
  &_container {
    display: flex;
    justify-content: space-between;
  }
  &_img{
    width: 55%;
  }
  &_data {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .data_head {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 3rem 0;
      &_title {
        line-height: 1.1;
      }
      &_date {
        text-align: right;
        font-size: 0.8rem;
      }
    }
    .data_icons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      .card-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        }
      }
    .data_description {
      font-size: 0.8rem;
      color: rgba(0,0,0,.54);
      padding: 0 3rem;
      &_header{
        font-size: 1rem;
        color: rgba(0,0,0,.87);
        margin-bottom: 0;
      } 
    }
    }
  }

.card-footer {
  background-color: red;
  height: 5px;
  margin: 0;
}

.back-btn {
  min-width: fit-content;
  padding: 5px 10px;
  border-radius: 4px 0 0 4px;
}