<div class="detailed-page">
  <button mat-raised-button color="primary" class="back-btn" (click)="onBackClicked()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <mat-card class="detailed-info">
    <div class="detailed-info_container">
      <img [src]="imageUrl" [alt]="dataItem.snippet.title" class="detailed-info_img">
      <div class="detailed-info_data">
        <div class="data_head">
          <mat-card-subtitle class="data_head_date">{{ dataItem.snippet.publishedAt | date:'fullDate' }}</mat-card-subtitle>
          <mat-card-title class="data_head_title">{{ dataItem.snippet.title }}</mat-card-title>
        </div>
        <div class="data_description">
          <h2  class="data_description_header">Description:</h2>
          <p>
            <span>{{ visibleDescription }}</span>
            <span *ngIf="isDescriptionHidden">{{ hiddenDescription }}</span>
            <button mat-button color="primary" *ngIf="!isDescriptionHidden" (click)="toggleDescription()">...Read more</button>
            <button mat-button color="primary" *ngIf="isDescriptionHidden" (click)="toggleDescription()">...Hide text</button>
          </p>
        </div>
        <mat-card-actions class="data_icons">
          <span class="card-icon"><mat-icon>visibility</mat-icon>{{ dataItem.statistics.viewCount }}</span>
          <span class="card-icon"><mat-icon>favorite</mat-icon>{{ dataItem.statistics.likeCount }}</span>
          <span class="card-icon"><mat-icon>thumb_down_alt</mat-icon>{{ dislikesCount }}</span>
          <span class="card-icon"><mat-icon>forum</mat-icon>{{ dataItem.statistics.commentCount }}</span>
        </mat-card-actions>
        <mat-card-footer class="card-footer" [appFooterColor]="color"></mat-card-footer>
      </div>
    </div>
  </mat-card>
</div>
