.header-filters {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 1rem;
  margin: 0 auto;
  background-color: #f3f2f2;
  flex-wrap: wrap;
  &_text {
    margin-bottom: 0;
  }
  .filter-text-label {
    color: #3f51b5;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
  }
}